/*
   tokens baseados em liz design token
   https://www.figma.com/community/file/1150677865238709221
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-family-title: "Poppins";
  --font-family-body: "Nunito Sans";

  --color-brand-primary-100: #FDB9D2;
  --color-brand-primary-200: #FC97BC;
  --color-brand-primary-300: #FB74A6;
  --color-brand-primary-400: #FB518F;
  --color-brand-primary-500: #FA2B76;
  --color-brand-primary-600: #F90A62;
  --color-brand-primary-700: #D80653;
  --color-brand-primary-800: #B40545;
  --color-brand-primary-900: #900437;

  --color-error-100 : #FAB2B2;
  --color-error-200: #F99F9F;
  --color-error-300: #F88C8C;
  --color-error-400: #F67979;
  --color-error-500: #F56565;
  --color-error-600: #F33D3D;
  --color-error-700: #F01414;
  --color-error-800: #CC0D0D;
  --color-error-900: #A30A0A;

  --color-warning-100: #F6C49A;
  --color-warning-200: #F4B581;
  --color-warning-300: #F2A668;
  --color-warning-400: #F0974E;
  --color-warning-500: #ED8936;
  --color-warning-600: #EA7414;
  --color-warning-700: #C96411;
  --color-warning-800: #A7530F;
  --color-warning-900: #86430C;

  --color-success-100: #A4DDBC;
  --color-success-200: #8DD5AB;
  --color-success-300: #76CC9A;
  --color-success-400: #5FC489;
  --color-success-500: #48BB78;
  --color-success-600: #3DA669;
  --color-success-700: #358E5A;
  --color-success-800: #2C774B;
  --color-success-900: #235F3C;

  --color-info-100: #96DEDA;
  --color-info-200: #7CD6D1;
  --color-info-300: #62CDC8;
  --color-info-400: #48C5BF;
  --color-info-500: #38B2AC;
  --color-info-600: #319C97;
  --color-info-700: #2A8681;
  --color-info-800: #236F6C;
  --color-info-900: #1C5956;


  --font-size-100: 0.75rem; /* 12px */
  --font-size-200: 0.87rem; /* 14px */
  --font-size-300: 1rem;    /* 16px */
  --font-size-400: 1.12rem; /* 18px */
  --font-size-500: 1.5rem;  /* 24px */
  --font-size-600: 2.25rem; /* 36px */
  --font-size-700: 4rem;    /* 48px */
  --font-size-800: 4rem;    /* 64px */
  --font-size-900: 4.5rem;  /* 72px */

  --font-weight-100: 300;
  --font-weight-200: 400;
  --font-weight-300: 500;
  --font-weight-400: 600;
  --font-weight-500: 700;

  --line-height-100: 100%;
  --line-height-200: 120%;
  --line-height-300: 140%;
  --line-height-400: 180%;

  --space-100: 0.5rem;  /* 8px */
  --space-200: 1rem;    /* 16px */
  --space-300: 1.25rem; /* 24px */
  --space-400: 2rem;    /* 32px */
  --space-500: 3rem;    /* 48px */
  --space-600: 4rem;    /* 64px */
  --space-700: 5rem;    /* 80px */
  --space-900: 6.5rem;  /* 104px */
  --space-1000: 15rem;  /* 240px */

  --border-width-100: 1px;
  --border-width-200: 2px;
  --border-width-300: 4px;

  --radius-1: 8px;
  --radius-2: 14px;
  --radius-3: 50%;

  --opacity-100: 0.1;
  --opacity-200: 0.2;
  --opacity-300: 0.3;
  --opacity-400: 0.4;
  --opacity-500: 0.5;
  --opacity-600: 0.6;
  --opacity-700: 0.7;
  --opacity-800: 0.8;
  --opacity-900: 0.9;
  --opacity-1000: 1;
}
