:root {
  --color-brand-primary-100: #FEEAF2;
  --color-brand-primary-200: #FED5E4;
  --color-brand-primary-300: #FDABC9;
  --color-brand-primary-400: #FC82AE;
  --color-brand-primary-500: #FB5894;
  --color-brand-primary-600: #FA2B76;/* base */
  --color-brand-primary-700: #CA054D;
  --color-brand-primary-800: #73032C;
  --color-brand-primary-900: #3A0116;
  --color-brand-primary-1000: #1D010B;

  --color-function-primary-100: #F2EAFE;
  --color-function-primary-200: #E4D5FE;
  --color-function-primary-300: #BC97FC;
  --color-function-primary-400: #AE82FC;
  --color-function-primary-500: #9458FB;
  --color-function-primary-600: #772BFA;/* base */
  --color-function-primary-700: #4D05CA;
  --color-function-primary-800: #370490;
  --color-function-primary-900: #16013A;
  --color-function-primary-1000: #0B011D;

  --color-info-100: #EAF6FD;
  --color-info-200: #D5EDFB;
  --color-info-300: #AADAF6;
  --color-info-400: #80C8F2;
  --color-info-500: #55B5ED;
  --color-info-600: #29A4E9;/* base */
  --color-info-700: #1275AE;
  --color-info-800: #0A4364;
  --color-info-900: #052132;
  --color-info-1000: #031119;

  --color-success-100: #EDFAEA;
  --color-success-200: #DCF4D6;
  --color-success-300: #B9E9AD;
  --color-success-400: #96DE84;
  --color-success-500: #73D35B;
  --color-success-600: #51C534;/* base */
  --color-success-700: #398A25;
  --color-success-800: #214F15;
  --color-success-900: #10270A;
  --color-success-1000: #081405;

  --color-warning-100: #FDF6EA;
  --color-warning-200: #FBEDD5;
  --color-warning-300: #F6DBAA;
  --color-warning-400: #F2CA80;
  --color-warning-500: #EDB855;
  --color-warning-600: #E9A629;/* base */
  --color-warning-700: #AE7812;
  --color-warning-800: #64440A;
  --color-warning-900: #322205;
  --color-warning-1000: #191103;

  --color-error-100: #FDECEA;
  --color-error-200: #FBD8D5;
  --color-error-300: #F6B2AA;
  --color-error-400: #F28B80;
  --color-error-500: #ED6455;
  --color-error-600: #E93C29;/* base */
  --color-error-700: #AE2212;
  --color-error-800: #64130A;
  --color-error-900: #320A05;
  --color-error-1000: #190503;
}
